<h3 class="text-center">Thêm Mới Nhân Viên</h3>

<form class="w-75 mx-auto mt-3" [formGroup]="formAddNewEmployee">
  <div class="form-group">
    <p>Họ và Tên</p>
    <input class="form-control" type="text" formControlName="fullName">
    <p *ngIf="formAddNewEmployee.controls.fullName.errors?.required && formAddNewEmployee.controls.fullName.touched"
    class="text-danger">Vui lòng nhập họ tên</p>
  </div>
  <div class="form-group">
    <p>Vị Trí</p>
    <input class="form-control" type="text" formControlName="position">
    <p *ngIf="formAddNewEmployee.controls.position.errors?.required && formAddNewEmployee.controls.position.touched"
    class="text-danger">Vui lòng nhập vị trí</p>
  </div>
  <div class="form-group">
    <p>Trình Độ</p>
    <input class="form-control" type="text" formControlName="academicLevelLevel">
    <p *ngIf="formAddNewEmployee.controls.academicLevelLevel.errors?.required && formAddNewEmployee.controls.academicLevelLevel.touched"
    class="text-danger">Vui lòng nhập trình độ</p>
  </div>
  <div class="form-group">
    <p>Bộ Phận</p>
    <input class="form-control" type="text" formControlName="part">
    <p *ngIf="formAddNewEmployee.controls.part.errors?.required && formAddNewEmployee.controls.part.touched"
    class="text-danger">Vui lòng nhập bộ phận</p>
  </div>
  <div class="form-group">
    <p>Ngày sinh</p>
    <input class="form-control" type="date" formControlName="dateOfBirth">
    <p *ngIf="formAddNewEmployee.controls.dateOfBirth.errors?.required && formAddNewEmployee.controls.dateOfBirth.touched"
    class="text-danger">Vui lòng nhập ngày sinh</p>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker>
      </div>
    </div>
  </div>
  <div class="form-group">
    <p>Số CMND</p>
    <input class="form-control" type="text" formControlName="identityNumber">
    <p *ngIf="formAddNewEmployee.controls.identityNumber.errors?.required && formAddNewEmployee.controls.identityNumber.touched"
    class="text-danger">Vui lòng nhập số CMND</p>
    <p *ngIf="formAddNewEmployee.controls.identityNumber.errors?.pattern && formAddNewEmployee.controls.identityNumber.touched"
    class="text-danger"> CMND không đúng định dạng</p>
  </div>
  <div class="form-group">
    <p>Lương</p>
    <input class="form-control" type="text" formControlName="salary">
    <p *ngIf="formAddNewEmployee.controls.salary.errors?.required && formAddNewEmployee.controls.salary.touched"
    class="text-danger">Vui lòng nhập lương</p>
    <p *ngIf="formAddNewEmployee.controls.salary.errors?.pattern && formAddNewEmployee.controls.salary.touched"
    class="text-danger">Mức lương không đúng định dạng</p>
  </div>
  <div class="form-group">
    <p>Email</p>
    <input class="form-control" type="text" formControlName="email">
    <p *ngIf="formAddNewEmployee.controls.email.errors?.required && formAddNewEmployee.controls.email.touched"
    class="text-danger">Vui lòng nhập email</p>
    <p *ngIf="formAddNewEmployee.controls.email.errors?.email && formAddNewEmployee.controls.email.touched"
    class="text-danger">Email không đúng định dạng</p>
  </div>
  <div class="form-group">
    <p>PhoneNumber</p>
    <input class="form-control" type="text" formControlName="phoneNumber">
    <p *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.required && formAddNewEmployee.controls.phoneNumber.touched"
    class="text-danger">Vui lòng nhập sdt</p>
    <p *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.pattern && formAddNewEmployee.controls.phoneNumber.touched"
    class="text-danger">Số điện thoại không đúng định dạng</p>
  </div>
  <div class="form-group">
    <p>Địa Chỉ</p>
    <input class="form-control" type="text" formControlName="address">
    <p *ngIf="formAddNewEmployee.controls.address.errors?.required && formAddNewEmployee.controls.address.touched"
    class="text-danger">Vui lòng nhập địa chỉ</p>
  </div>

</form>
<div class="row d-flex justify-content-center mt-4">
  <button [disabled]="formAddNewEmployee.invalid" class="btn btn-success" (click)="addNewEmployee()">Thêm Mới</button>
</div>
